/* styles.css */

* {
    font-family: Helvetica, sans-serif;
}

#title {
    background-color: rgb(213, 104, 9);
    color: aliceblue;
    text-align: center;
}

#tagline {
    color: rgb(213, 104, 9);
    text-align: center;
}

.header {
    background-color:aliceblue;
    font-weight: 200;
}

.nav {
    color: rgb(213, 104, 9);  
}

img {
    height: auto;
    width: 420px;
}

