/* styles.css */

* {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    align-items: center;
}

p {
    line-height: 1.4em;
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 30px;
}

ul {
    display: flex;
    /* align-items: center; */
    gap: 24px;
    padding-inline-start: 0px;
    padding: 10px;
  }
  
.logo a {
    font-size: 1.5em;
    font-weight: 100;
    color: rgb(36, 37, 37);
  }

li {
    list-style-type: none;
}

li a {
    color: #383431;
}

.login, .signup {
    border-radius: 10px;
    color: #eee;
    padding: 8px 15px;
    font-size: 1.2em;
    margin-left: 0px;
}

body {
   
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 80px 150px;
    gap: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 490px;
    width: 520px;
    justify-content: space-between;
    align-items: flex-start;
}

img {
    width: 520px;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-size: 42px;
    color: #383431;
}

.bk_orange {
    background-color: #FF8811;
}

.bk_dkor {
    background-color: #bd3c04;
}

.bk_blue {
    background-color: #6db2ec;
}

button {
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 10px;
    color: #eee;
}

.bold {
    font-weight: 700;
}


.card {
    background-color: #FFF8F0;
    width: 420px;
    flex: 1;
}




