/* styles.css */

* {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    align-items: center;
}

p {
    line-height: 1.4em;
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 150px;
}

ul {
    display: flex;
    /* align-items: center; */
    gap: 24px;
    padding-inline-start: 0px;
    padding: 10px;
  }
  
.logo a {
    font-size: 1.5em;
    font-weight: 100;
    color: rgb(36, 37, 37);
  }

li {
    list-style-type: none;
}

li a {
    color: #383431;
}

.login, .signup {
    border-radius: 10px;
    color: #eee;
    padding: 8px 15px;
    font-size: 1.2em;
    margin-left: 0px;
}

body {
   
}

.hero {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    padding: 40px 150px;
    gap: 60px;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 0px;
    gap: 70px;
    color: #eee;
}

.title {
    text-align: center;
    padding: 0px;
    color: white;
    font-size: 36px;
}

.card {
    flex: 1;
}

.card img{
    border: 3px solid #4f1104;
    height: auto;
}
.container {
    display: flex;
    flex-direction: column;
    height: 490px;
    width: 520px;
    justify-content: space-between;
    align-items: flex-start;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 70px 150px;
    gap: 50px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-size: 42px;
    color: #383431;
    line-height: 1.3em;
}

.bk_orange {
    background-color: #FF8811;
}

.f_or {
    color: #FF8811;
}

.bk_dkor {
    background-color: #bd3c04;
}

.bk_blue {
    background-color: #6db2ec;
    color: #eee;
}

button {
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 10px;
    color: #eee;
}

.bold {
    font-weight: 700;
}




